@import 'config';
@import 'theme';

//fonts
@import 'fonts/lato.scss';
@import 'fonts/slack.scss';

@import 'header';
@import 'sidebar';
@import 'content';
@import 'footer';

body, html, input {
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}

#content {
  width: 100% !important;
  box-sizing: border-box;
  padding: 0 !important;
  >#profile_background {
    padding: 0;
  }
  .topic_buttons:last-of-type {
    position: relative;
    width: 250px;
    text-align: center;
    > li.non_button.clearfix {
      margin: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -25%);
      > a {
        color: #ACB1B7;
        font-family: Lato;
        &:hover {
          color: #c8ccd0;
        }
      }
    }
  }
}

#secondary_navigation, #content > .topic_buttons:not(:last-of-type), #content > br {
  display: none;
}
#custom_background {
  display: none;
  position: relative;
  >.topic_buttons {
    position: absolute;
    top: 98px;
    right: 120px;
    z-index:1;
  }
}

.topic_buttons li.important a, .topic_buttons li.important span, .ipsButton .important, .topic_buttons li a, .topic_buttons li span, .ipsButton, .maintitle, body>div[id^='aja'], .popupInner h3 {
  background: $sidebarBackground;
  border-color: $sidebarBackground;
}
