$sidebarBackground: #544538;
$sidebarHightlight: #4D3F33;
$sidebarActive: #5DB09D;
$onlineColor: #FBFBFB;
$notifyBackground: #5DB09D;
$notifyColor: #FFFFFF;
$menuHighlight: #3AA3E3;
$footerBackground: 'http://i.imgur.com/Tn9wAnL.jpg';
