@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext");
@font-face {
  font-family: 'Slack';
  font-style: normal;
  font-weight: 400;
  src: url("https://a.slack-edge.com/81c44/fonts/slack-icons-Regular.woff2") format("woff2"), url("https://a.slack-edge.com/81c44/fonts/slack-icons-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Slack';
  font-style: normal;
  font-weight: 400;
  src: url("https://a.slack-edge.com/81c44/fonts/slack-icons-Regular.woff2") format("woff2"), url("https://a.slack-edge.com/81c44/fonts/slack-icons-Regular.woff") format("woff");
}
#search {
  height: 34px;
  right: 25px;
  position: relative;
  float: none;
}
#search #search_wrap {
  height: 34px;
  border: 1px solid rgba(113, 114, 116, 0.5);
  padding: 0 4px 0 30px;
  box-shadow: none;
}
#search #search_wrap:before {
  font-family: 'Slack';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  content: "";
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translate(-50%, -50%);
}
#search #search_wrap > input.submit_input {
  background: none;
  border: none;
  right: auto;
  left: 0;
  height: 100%;
}
#search #search_wrap > #search_options {
  text-transform: lowercase;
  margin: 0;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgba(113, 114, 116, 0.5);
  background: none;
}
#search #search_wrap > #search_options_menucontent {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-top: 1px solid #E0E0E0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 0 15px 0;
  color: #A0A0A2;
  text-align: left;
  left: 0 !important;
  min-width: 100%;
}
#search #search_wrap > #search_options_menucontent > li.title {
  padding: 20px 14px 12px;
  display: flex;
  color: #A0A0A2;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
}
#search #search_wrap > #search_options_menucontent > li.title:after {
  content: '.';
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  height: 0;
  color: #A0A0A2;
}
#search #search_wrap > #search_options_menucontent > li.title > strong {
  font-weight: normal;
  line-height: 1rem;
  float: left;
  margin-right: 5%;
}
#search #search_wrap > #search_options_menucontent li:not(.title) {
  margin: 0 .9375rem;
  font-size: 16px;
  padding: 0 1rem 0 .5rem;
  border-radius: .25rem;
  line-height: 25px;
}
#search #search_wrap > #search_options_menucontent li:not(.title) > label > input {
  position: absolute;
  visibility: hidden;
}
#search #search_wrap > #search_options_menucontent li:not(.title):hover {
  background: #3AA3E3;
  color: #D7EDFA;
}
#search #search_wrap > input#main_search {
  height: 100%;
  padding-top: 0;
  font-size: 15px;
  width: 100%;
  color: #555459;
}
#search #search_wrap > input#main_search::placeholder {
  color: #D1D1D1;
}
#search #adv_search {
  float: left;
  height: 34px;
  width: 34px;
  line-height: 1;
  background: none;
  font-size: 0;
  position: relative;
  margin: 0 !important;
}
#search #adv_search:after {
  font-family: 'Slack';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #717274;
}
#search #adv_search:hover:after {
  color: #3AA3E3;
}

#ipbwrapper {
  position: relative;
}
#ipbwrapper > #header_bar {
  position: absolute;
  width: calc(100% - 250px);
  min-width: inherit;
  right: 0;
  background: #FFFFFF !important;
}
#ipbwrapper > #header_bar > .main_width {
  min-width: unset;
  width: auto;
  height: auto;
}
#ipbwrapper > #header_bar > .main_width > ul.ipsList_inline.left {
  text-transform: lowercase;
  display: flex;
  font-size: .8125rem;
}
#ipbwrapper > #header_bar > .main_width > ul.ipsList_inline.left > li a {
  color: #717274;
}
#ipbwrapper > #header_bar > .main_width > ul.ipsList_inline.left > li a:before {
  content: '#';
}
#ipbwrapper > #header_bar > .main_width > ul.ipsList_inline.left > li.active {
  order: -1;
  font-size: 1.125rem;
  font-weight: 900;
}
#ipbwrapper > #header_bar > .main_width > ul.ipsList_inline.left > li.active > a {
  color: #2C2D30;
}
#ipbwrapper > #branding {
  background: #FFFFFF;
  height: 43px !important;
}
#ipbwrapper > #branding .main_width {
  margin: 0 auto;
  min-width: inherit;
  width: auto;
}
#ipbwrapper > #branding .main_width > #logo {
  display: block;
  width: 250px;
  background: #4D5250;
}
#ipbwrapper > #branding .main_width > #logo > a {
  display: block;
}
#ipbwrapper > #branding .main_width > #logo > a:after {
  display: block;
  content: "Mrucznik Role Play";
  color: #FFFFFF;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 900;
  padding: .5rem 1rem 0 1rem;
}
#ipbwrapper > #branding .main_width > #logo > a > img {
  display: none;
}
@font-face {
  #ipbwrapper > #branding .main_width > {
    font-family: 'Slack';
    font-style: normal;
    font-weight: 400;
    src: url("https://a.slack-edge.com/81c44/fonts/slack-icons-Regular.woff2") format("woff2"), url("https://a.slack-edge.com/81c44/fonts/slack-icons-Regular.woff") format("woff");
  }
}
#ipbwrapper > #branding .main_width > #user_tab {
  background: #4D5250;
  width: 250px;
  box-sizing: border-box;
  padding: 0 1rem;
  font-size: .875rem;
  float: none;
  height: auto;
}
#ipbwrapper > #branding .main_width > #user_tab > div {
  position: relative;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: none;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > a {
  color: #FFFFFF;
  opacity: 0.75;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:hover > a {
  opacity: 1;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(1) {
  order: 2;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(2) {
  order: 3;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(3) {
  order: 1;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(4) {
  order: 4;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(3) > a:not(#user_link) > img {
  height: 0;
  width: 0;
  padding: 0;
  border: 4.5px solid #99D04A;
  border-radius: 100%;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(3):not(:nth-of-type(3)) > a {
  padding: 4px;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(3) > #user_link {
  font-size: .875rem;
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: lowercase;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(3) > #user_link.menu_active {
  background: none;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:last-of-type {
  font-size: 0;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #inbox_link, #ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #notify_link {
  padding: 5px;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #notify_link {
  background: none;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #notify_link:after {
  font-family: 'Slack';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  content: "";
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #notify_link > .ipsHasNotifications {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: .8rem;
  line-height: .8rem;
  font-weight: 700;
  width: 25px;
  border-radius: 9px;
  padding: 2px 0;
  background: #DB6668;
  color: #FFFFFF;
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #inbox_link {
  background: none;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #inbox_link:after {
  font-family: 'Slack';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  content: "";
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li > #inbox_link > .ipsHasNotifications {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: .8rem;
  line-height: .8rem;
  font-weight: 700;
  width: 25px;
  border-radius: 9px;
  padding: 2px 0;
  background: #DB6668;
  color: #FFFFFF;
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(4) > a {
  background: none;
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(4) > a:after {
  font-family: 'Slack';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  content: "";
}
#ipbwrapper > #branding .main_width > #user_tab #user_navigation > ul > li:nth-of-type(4) > a > .ipsHasNotifications {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: .8rem;
  line-height: .8rem;
  font-weight: 700;
  width: 25px;
  border-radius: 9px;
  padding: 2px 0;
  background: #DB6668;
  color: #FFFFFF;
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-top: 1px solid #E0E0E0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 0 15px 0;
  width: 110%;
  padding: 15px 14px;
  top: 37px;
  left: 0;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > a.ipsUserPhotoLink {
  display: none;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left {
  margin-left: 0;
  width: 100%;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > form:after {
  font-family: 'Slack';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > form > br {
  display: none;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > form > input#statusSubmitGlobal {
  opacity: 0;
  width: 25px;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > form > input#statusUpdateGlobal {
  font-size: 15px;
  color: #555459;
  border: 1px solid rgba(113, 114, 116, 0.5);
  border-radius: 3px 4px 4px 3px;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > ul#links {
  padding: 0 .4375rem;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > ul#links > li {
  float: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 1rem 0 .5rem;
  border-radius: .25rem;
  line-height: 25px;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > ul#links > li > a {
  display: block;
  color: #2c2d30;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > ul#links > li:hover {
  background: #3AA3E3;
}
#ipbwrapper > #branding .main_width > #user_tab #user_link_menucontent > div.left > ul#links > li:hover > a {
  color: #D7EDFA;
}

#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft {
  display: flex;
  padding-left: 0;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs {
  margin: 23px 0 0 0;
  background: #4D5250;
  color: #ACB1B7;
  width: 250px;
  flex: 0 0 250px;
  padding-right: 20px;
  box-sizing: border-box;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > .photo_holder {
  position: absolute;
  height: auto;
  top: 46px;
  z-index: 1;
  left: 320px;
  transform: translate(-50%, -50%);
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > .photo_holder > #profile_photo {
  max-width: 115px;
  max-height: 115px;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear {
  border: none;
  width: 100% !important;
  padding-right: 20px;
  box-sizing: border-box;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear:before {
  display: block;
  margin: 0 1rem .1rem;
  padding: 0;
  font-size: .8rem;
  line-height: 1.25rem;
  font-weight: 700;
  content: 'Użytkowe';
  text-transform: uppercase;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear > li {
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0 .25rem .25rem 0;
  width: 100%;
  background: none;
  padding: 0 .25rem 0 1rem;
  display: block;
  border: none;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear > li.active {
  background: #D39B46 !important;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear > li.active > a {
  background: none;
  opacity: 1;
  color: #FFFFFF !important;
  border: none;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear > li:hover {
  background: #474B49;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear > li:hover > a {
  background: none;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear > li > a {
  opacity: 0.6;
  color: #FFFFFF;
  width: 100%;
  padding: 0;
  font-size: .9rem;
  text-transform: lowercase;
}
#profile_background > .ipsVerticalTabbed.ipsLayout.ipsLayout_withleft.ipsLayout_smallleft > #profile_tabs > ul.clear > li > a:before {
  content: '#';
  color: #ACB1B7;
  margin-right: 3px;
}
#profile_background .warn_panel {
  text-align: left !important;
}
#profile_background .warn_panel > strong {
  padding: 0 .25rem 0 1rem;
  height: 1.5rem;
  opacity: 0.6;
  display: block;
}
#profile_background .warn_panel > strong:hover {
  background: #474B49;
}
#profile_background .warn_panel > strong > a {
  color: #FFFFFF !important;
  font-size: .8rem;
  line-height: 1.5rem;
}
#profile_background .warn_panel > strong > a:before {
  content: '#';
  color: #ACB1B7;
  margin-right: 3px;
}
#profile_background .warn_panel:before {
  display: block;
  margin: 0 1rem .1rem;
  padding: 0;
  font-size: .8rem;
  line-height: 1.25rem;
  font-weight: 700;
  content: 'Administracyjne';
  text-transform: uppercase;
}

#user_info_cell {
  padding-left: 130px;
}

.fn.nickname {
  font-family: 'Lato';
  text-transform: lowercase;
  font-weight: 400;
  font-size: 75%;
}
.fn.nickname:before {
  content: '@';
}

.ipsButton_secondary {
  text-transform: lowercase;
}

.___hover___member, ._hoversetup {
  text-transform: lowercase;
}
.___hover___member:before, ._hoversetup:before {
  content: '@';
}

.ipsVerticalTabbed_content {
  min-height: inherit !important;
}

.breadcrumb.bottom, #backtotop + div {
  display: none;
}

#backtotop + div + div {
  background-image: url(http://i.imgur.com/vSAk4wO.jpg);
}

body, html, input {
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}

#content {
  width: 100% !important;
  box-sizing: border-box;
  padding: 0 !important;
}
#content > #profile_background {
  padding: 0;
}

#secondary_navigation, #content > .topic_buttons, #content > br {
  display: none;
}

#custom_background {
  position: relative;
}
#custom_background > .topic_buttons {
  position: absolute;
  top: 98px;
  right: 120px;
  z-index: 1;
}

.topic_buttons li.important a, .topic_buttons li.important span, .ipsButton .important, .topic_buttons li a, .topic_buttons li span, .ipsButton, .maintitle, body > div[id^='aja'], .popupInner h3 {
  background: #4D5250;
  border-color: #4D5250;
}
