$sidebarBackground: #303E4D;
$sidebarHightlight: #3F4C5A;
$onlineColor: #94E864;
$sidebarActive: #6698C8;
$notifyBackground: #78AF8F;
$notifyColor: #FFFFFF;
$menuHighlight: #3AA3E3;
$footerBackground: 'https://i.imgur.com/YaxcKzt.jpg';
