@import 'character1';

.ax {
  &.p2 {
    color: #FFFFFF;
    height: 300px;
    width: 100%;
    display: table;
    &:hover {
      div {
        opacity: 1;
        transition: all 1s;
      }
    }
    >div {
      cursor: default;
      background: none;
      transition: all 1s;
      width: 33%;
      height: 300px;
      box-sizing: border-box;
      text-align: center;
      display:table-cell;
      vertical-align:middle;
      padding: 5px;
      opacity: 0;
    }
    >.p2avatar, >.p2vehs {
      img {
        transform: scale(0.9, 0.9);
        width: 90%;
        background: url("http://i.imgur.com/efKnAYO.jpg");
        border: 2px solid #FFF;
        box-sizing: border-box;
        margin: 5px;
        transition: all 0.5s;
        &:hover {
          transform: scale(1, 1);
          transition: all 0.5s;
        }
      }
    }
    >.p2info {
      tr {
        &:hover {
          background: rgba(255,255,255,0.1);
          transition: all 0.2s;
        }
        background: transparent;
        transition: all 0.2s;
      }
    }
  }
}
