$sidebarBackground: #0D7E83;
$sidebarHightlight: #837C77;
$sidebarActive: #F79F66;
$onlineColor: #F79F66;
$notifyBackground: #EB4D5C;
$notifyColor: #FFFFFF;
$menuHighlight: #3AA3E3;
$footerBackground: 'http://i.imgur.com/GNZaZO2.jpg';
