$sidebarBackground: #4D5250;
$sidebarHightlight: #474B49;
$onlineColor: #99D04A;
$sidebarActive: #D39B46;
$notifyBackground: #DB6668;
$notifyColor: #FFFFFF;
$menuHighlight: #3AA3E3;
$footerBackground: 'http://i.imgur.com/vSAk4wO.jpg';
